@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Archangelsk';
    src: url('./fonts/Archangelsk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Общие стили и переменные */
:root {
    --color-yellow: #F8F200;
    --color-black: #000;
    --font-label: 'Roboto', sans-serif;
    --font-text: 'Archangelsk', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: var(--font-label);
}

/* контейнер для содержания страницы */
.container {
    width: 1280px;
    margin: 0 auto;
    position: relative;
}

header {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

/* Лого */
.logo img {
    z-index: 1000;
    height: 74px;
    width: 296px;
}

/* Стили для изображений на всю ширину */
.full_size_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.full_size_image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}


/* Стили первого слайдера */
.slider_1_image {
    display: block;
    width: 100%;
    height: 1000px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 2s ease;
}

.slider_1_image.active {
    opacity: 1;
}


/* Соициальные сети */
.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 379px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.social_icons {
    width: 30px;
    height: 30px;
}

/* Узнать больше */
.yellow-box {
    position: absolute;
    top: 531px;
    right: 0;
    padding: 70px 0 0 70px;
    width: 624px;
    height: 369px;
    font-size: 24px;
    color: var(--color-black);
    background-image: url("./images/Rectangle.png");
}

.yellow-box img {
    z-index: -1;
}

.yellow-box p {
    font-size: 62px;
    width: 484px;
    font-family: 'Archangelsk', sans-serif;

}

.yellow-box button {
    background: var(--color-black);
    color: var(--color-yellow);
    width: 272px;
    height: 78px;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    margin-top: 25px;
}