@import "./style/part_1.css";
@import "./style/part_2.css";
@import "./style/part_3.css";
@import "./style/part_4.css";
@import "./style/part_5.css";
@import "./style/part_6.css";
@import "./style/part_7.css";
@import "./style/modal.css";

@font-face {
    font-family: 'Archangelsk';
    src: url('./fonts/Archangelsk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-yellow: #F8F200;
    --color-black: #000;
    --color-white: #fff;
    --color-blue: #52BEDC;
    --color-grey: #777777;
    --font-text: 'Roboto', sans-serif;
    --font-label: 'Archangelsk', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2, p {
    font-weight: 400;
}

h3, p, a {
    font-family: var(--font-text);
    font-size: 18px;
}

h2 {
    font-family: var(--font-label);
    font-size: 62px;
    line-height: 100%;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-blue);
}

p {
    line-height: 34px;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: var(--color-blue);
}

button {
    border: none;
    font-size: 18px;
    line-height: 100%;
    font-weight: 700;
    cursor: pointer;
    font-family: var(--font-text);
}

.container {
    width: 1280px;
    margin: 0 auto;
    position: relative;
}

header, footer {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

@media (320px < width <= 1024px) {
    .container {
        width: 952px;
    }
}

@media (width <= 320px) {
    .container {
        width: 296px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }

    p, a {
        font-size: 16px;
    }

    footer {
        flex-direction: column;
        height: fit-content;
        gap: 50px;
        align-items: center;
        margin: 40px 0 40px 0;
    }

    header {
        flex-direction: column;
        height: fit-content;
        align-items: center;
    }
}
