.modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
  
.modal-content {
    background: white;
    padding: 15px;
    width: 400px;
    max-width: 50%;
    border-radius: 10px;
    position: relative;
    font-family: var(--font-text);
    height: 200px;
    overflow: auto;
}

.close {
    font-size: 24px;
    cursor: pointer;
    color: red;
    justify-self: end;
    margin-top: -11px;
}
