.part_3_img {
    width: 100%;
    height: 70px;
    object-fit: cover;
}

.part_3 {
    position: relative;
    width: 100%;
    background-color: black;
    margin-top: -5px;
    color: var(--color-white);
    padding-top: 25px;
    padding-bottom: 25px;
}

.part_3 h2 {
    margin-bottom: 25px;
}

.part_3 .container .item {
    display: flex;
    gap: 50px;
    align-items: end;
}

.part_3_description {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 952px;
}

.message_form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 460px;
    font-family: var(--font-text);
    font-weight: 300;
}

.message_form input[type="text"],
.message_form input[type="email"] {
    width: 100%;
    font-size: 18px;
    line-height: 100%;
    padding-bottom: 10px;
    background-color: var(--color-black);
    border: none;
    border-bottom: 1px solid var(--color-grey);
    color: var(--color-white);
}

.message_form input:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-grey);
    box-shadow: none;
}

.message_form input::placeholder {
    color: var(--color-white);
}

.upload_box {
    border: 1px dashed var(--color-grey);
    padding: 30px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
  
.upload_box input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
}
  
.upload_text {
    margin: 0;
    font-size: 18px;
    text-decoration: underline;
}
  
.upload_box span {
    font-size: 14px;
}

.message_form button {
    height: 59px;
    width: 192px;
    color: var(--color-black);
    background-color: var(--color-yellow);
}

.consent {
    font-size: 13px;
    display: flex;
    align-items: center;
}
  
.consent input[type="checkbox"] {
    margin-right: 10px;
    appearance: none;
    width: 14px;
    height: 14px;
    border: 1px solid var(--color-grey);
    border-radius: 0;
    cursor: pointer;
    position: relative;
}

.consent input[type="checkbox"]:checked {
    border-color: var(--color-grey);
    background-color: var(--color-black);
}

.consent input[type="checkbox"]:checked::after {
    content: url("../images/part_3/checkbox.svg");
    font-size: 14px;
    color: var(--color-yellow);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vertical_picture {
    display: none;
}

.play_game {
    display: none;
}

@media (320px < width <= 1024px) {
    .part_3 .vertical_picture {
        display: block;
        height: 858px;
        width: 460px;
    }

    .part_3 .horizontal_picture {
        display: none;
    }

    .part_3 .container {
        display: flex;
        gap: 32px;
        align-items: center;
    }

    .part_3_description {
        width: 460px;
    }

    .item {
        width: 460px;
    }

    .part_3 h2 {
        margin-bottom: 0;
    }

    .part_3 .container .item {
        flex-direction: column;
        align-items: start;
        gap: 15px;
    }

    .file_extension {
        display: none;
    }
}

@media (width <= 320px) {
    .part_3 {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .part_3 .vertical_picture,
    .part_3 .horizontal_picture,
    .file_extension {
        display: none;
    }

    .part_3 .container .item {
        gap: 0;
    }

    .part_3_description {
        margin-bottom: 70px;
        width: 296px;
    }

    .message_form input[type="text"],
    .message_form input[type="email"],
    .upload_text {
        font-size: 16px;
    }

    .sale_2 {
        display: none;
    }

    .play_game {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
    }

    .sale_1 {
        height: 62px;
        width: 62px;
        position: absolute;
        top: -48px;
    }

    .play_game .item {
        display: flex;
        justify-content: space-between;
    }

    .consent {
        font-size: 12px;
    }

    .message_form button {
        font-size: 16px;
        height: 60px;
        width: 182px;
    }
}
