.footer_logo {
    display: flex;
    gap: 32px;
    height: 74px;
}

.footer_links {
    display: flex;
    gap: 32px;
}

.footer_links a {
    font-weight: 400;
    color: var(--color-black);
}

.footer_links button {
    font-weight: 400;
    color: var(--color-black);
    background-color: white;
}

@media (width <= 320px) {
    .footer_logo {
        flex-direction: column;
        gap: 25px;
        height: fit-content;
        align-items: center;
    }

    .footer_links {
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }

    .footer_logo .picture_1 {
        height: 50px;
        width: 200px;
    }

    .footer_logo .picture_2 {
        height: 50px;
        width: 116.25px;
    }

    .footer_links button {
        font-size: 16px;
    }
}
