.part_1 {
    height: 1000px;
}

.header_logo {
    z-index: 1000;
    height: 74px;
    width: 296px;
}

.header_social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 379px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.header_social img {
    width: 30px;
    height: 30px;
}

.full_size_image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.slider_1 {
    display: block;
    width: 100%;
    height: 1000px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 2s ease;
}

.slider_1.active {
    opacity: 1;
}

.info_box {
    position: absolute;
    top: 531px;
    right: 0;
    padding: 70px 0 0 70px;
    width: 624px;
    height: 369px;
    font-size: 24px;
    color: var(--color-black);
    background-image: url("../images/rectangle.png");
}

.info_box img {
    z-index: -1;
}

.info_box h2 {
    width: 484px;
}

.info_box button {
    background: var(--color-black);
    color: var(--color-yellow);
    width: 272px;
    height: 78px;
    padding: 10px 20px;
    margin-top: 25px;
    font-size: 24px;
    line-height: 40px;
}
